// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// primary

$primary-red: #ff385c;
$primary-dark: #000;
$primary-grey: #808080;
$primary-lightgrey: #f7f8f9;
$primary-light: #fff;


//secondary red palette

$secondary-1: #bc1a6e;
$secondary-2: #cc2d4a;
$secondary-3: #de3151;
$secondary-4: #d93b30;


