// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//login-register

.bnb-login, .bnb-register{
    .form-card{
        margin-top: 2rem;
        border: 5px solid $primary-red;
        border-radius: 2rem;

        .form-card-header{
            border-bottom: 5px solid $primary-red;
            height: 3rem;
            padding-left: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.7rem;
            font-weight: 900;
            color: #333;
        }
        .login-btn{
            background-color: $primary-red;
            padding: 0 1rem;
            border: none;
            border-radius: 2rem;
            transition: all 250ms ease-in-out;
            height: 3rem;
            color: white;
        }
    }
}

/* home.blade.php */
.container-profile{
    .profile{
        background-color: $primary-lightgrey;
    }
    .announcement-btn{
        font-size: 20px;
        width: 100%;
        background-color: $primary-red;
        padding: 0 1rem;
        border: none;
        border-radius: 2rem;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis; 

        &:hover, &:active{
            padding: 0 1.1rem;
            filter: brightness(1.2);
            box-shadow: 0px 2px 6px 1px rgba(0,0,0,.3);
        }
    
        a{
            line-height: 30px;
            color: $primary-light;
            text-decoration: none;

            &:hover{
                text-decoration: none;
            }
        }
    }
    
    .dashboard{
        a{
            color: $primary-grey;
        }
    
        i{
            color: $secondary-3;
        }
    
        .ms_icon{
            font-size: 30px;
        }

        .text{
            overflow: hidden;
            text-overflow: ellipsis; 
        }

        button{
            width: 100%;
            height: 200px;
            &:hover, &:active{
                box-shadow: 0px 2px 6px 1px rgba(0,0,0,.3);
            }
    
            a{
                color: $primary-dark;
                text-decoration: none;
            }
        }
    }
}


/* index.blade.php degli apartments */

.ms_container_index_apartment{
    .ms_dropdown{
        top: 20px;
        left: 20px;
        z-index: 1;

        a{
            text-decoration: none;
        }
        .ms_delete{
            background-color: $primary-red;
        }
    }
    .ms_dropdown-2{
        top: 20px;
        right: 20px;
        z-index: 1;

        a{
            text-decoration: none;
        }
        .ms_delete{
            background-color: $primary-red;
        }
    }
    .announcement-btn{
        font-size: 20px;
        width: 100%;
        background-color: $primary-red;
        padding: 0 1rem;
        border: none;
        border-radius: 2rem;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis; 

        &:hover, &:active{
            padding: 0 1.1rem;
            filter: brightness(1.2);
            box-shadow: 0px 2px 6px 1px rgba(0,0,0,.3);
        }

        a{
            line-height: 30px;
            color: $primary-light;
            text-decoration: none;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .ms_card{
        border: 1px solid $primary-grey;
        height: 100%;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 2px 2px 3px $primary-light;
        background-color: $primary-light;

        a{
            text-decoration: none;
            color: black;
        }
    }

    .ms_img{
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        object-fit: cover;

        &:hover{
                cursor: pointer;
            }
        &:hover .ms_shadow{
                display: none;
            }

        img{
            transition: transform .2s;
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
            

            &:hover{
                transform: scale(1.5);
            }
        }
    }

    .ms_shadow{
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        height: 30%;
        opacity: 1;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
        
    }

    .ms_description, .ms_shadow{
    left: 0;
    bottom: 0;
    }

    .ms_beds{
    font-size: 20px;
    color: $primary-light;
    cursor: default;
    }

    .ms_text{
        height: 45%;

        .ms_title{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
    
            &:hover{
                    cursor: pointer;
                }
        }
        .ms_address, .ms_description2{
            color: $primary-grey;
        }
    }
}


/* show.blade.php degli apartament */
.ms_container_show_apartment{

    .announcement-btn{
        width: 100%;
        background-color: $primary-red;
        padding: 0 1rem;
        border: none;
        border-radius: 2rem;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis; 
    
        &:hover, &:active{
            padding: 0 1.1rem;
            filter: brightness(1.2);
            box-shadow: 0px 2px 6px 1px rgba(0,0,0,.3);
        }
    
        a{
            line-height: 30px;
            color: $primary-light;
            text-decoration: none;
    
            &:hover{
                text-decoration: none;
            }
        }
    }
    .title{

    }
    
    .structure{
        background-color: $primary-lightgrey;
        padding: 2rem;
    }
    
    .apartment-img{
        width: 50%;
        max-width: 70%;
        margin-bottom: 1rem;
        
        img{
            object-fit:cover;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            overflow: hidden;
        }
    }
    
    .description-section{
        display: flex;
        align-items: flex-end;
    
        .fa-chevron-up{
            display: none;
        }
        .apartment-description{
            position: relative;
        }
    
        .apartment-description.show{
            position: relative;
            white-space: normal;
            overflow: none;
            text-overflow: none;
            width: 100%;
        }
    
        .apartment-description-button{
            width: 10%;
            font-size: 2rem;
            
            display: flex;
            align-items: center;
            justify-content: center;
    
            .a-d-button{
                transition: all 250ms ease;
                cursor: pointer;
            }
            .a-d-button:hover, .a-d-button:active{
                opacity: .6;
            }
            .a-d-button.active{
                transform: rotate(180deg);
            }
        }
    }

}


/* edit.blade.php degli apartment */
.ms_container_edit_apartment, .ms_container_create_apartment{
    button{
        background-color: $primary-red;
        border: none;
        border-radius: 2rem;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis; 
    
        &:hover, &:active{
            filter: brightness(1.2);
            box-shadow: 0px 2px 6px 1px rgba(0,0,0,.3);
        }
    }
}

// messages

.msg-card-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msg-button{
    background-color: $primary-red;
    border: none;
    border-radius: 2rem;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis; 

    &:hover, &:active{
        filter: brightness(1.2);
        box-shadow: 0px 2px 6px 1px rgba(0,0,0,.3);
    }
}

/* index.blade.php messages */
.ms_container_index_messages{
    .msg-da-leggere{
        width: 100%; 
        border: 3px solid $primary-grey; 
        border-radius: 1rem;
        
        .ms_img{
            width: 50%;
            
            img{
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }
        .ms_text{
            width: 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    }

    .ms_break-word{
        white-space: pre-line;
        word-wrap: break-word;
        hyphens: auto;
    }

    .hidden{
        display: none;
    }
}
*{
    scroll-behavior: smooth;
}