// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//login-register

.bnb-login, .bnb-register{
    .form-card{
        margin-top: 2rem;
        border: 5px solid $primary-red;
        border-radius: 2rem;

        .form-card-header{
            border-bottom: 5px solid $primary-red;
            height: 3rem;
            padding-left: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.7rem;
            font-weight: 900;
            color: #333;
        }
        .login-btn{
            background-color: $primary-red;
            padding: 0 1rem;
            border: none;
            border-radius: 2rem;
            transition: all 250ms ease-in-out;
            height: 3rem;
            color: white;
        }
    }
}

/* home.blade.php */
.container-profile{
    .profile{
        background-color: $primary-lightgrey;
    }
    .announcement-btn{
        width: 100%;
        background-color: $primary-red;
        padding: 0 1rem;
        border: none;
        border-radius: 2rem;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis; 

        &:hover, &:active{
            padding: 0 1.1rem;
            filter: brightness(1.2);
            box-shadow: 0px 2px 6px 1px rgba(0,0,0,.3);
        }
    
        a{
            line-height: 30px;
            color: $primary-light;
            text-decoration: none;

            &:hover{
                text-decoration: none;
            }
        }
    }
    
    .dashboard{
        a{
            color: $primary-grey;
        }
    
        i{
            color: $secondary-3;
            
        }
    
        /* .icon{
            i{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        } */

        .text{
            overflow: hidden;
            text-overflow: ellipsis; 
        }

        button{
            min-height: 160px;
            min-width: 150px;
            max-width: 200px;
            &:hover, &:active{
                box-shadow: 0px 2px 6px 1px rgba(0,0,0,.3);
            }
    
            a{
                color: $primary-dark;
                text-decoration: none;
            }
        }
    }
   /*  @media (min-width: 307px) and (max-width: 413px) {
        .button-2{
            margin-top: 0px!important;
        }
    }
    @media (min-width: 396px) {
        .button{
            margin-top: 0!important;
        }
        .button-2{
            margin-top: 8px!important;
        }
    }
    @media (min-width: 580px) {
        .button-2{
            margin-top: 0!important;
        }
    }
    @media (min-width: 913px) {
        .button-3{
            margin-top: 0!important;
        }
    } */
}







